parameters:
	ignoreErrors:
		-
			message: '#^Class Ibexa\\Bundle\\CompatibilityLayer\\Command\\SymfonyConfigDebugCommand extends @final class Symfony\\Bundle\\FrameworkBundle\\Command\\ConfigDebugCommand\.$#'
			identifier: class.extendsFinalByPhpDoc
			count: 1
			path: src/bundle/Command/SymfonyConfigDebugCommand.php

		-
			message: '#^Property Ibexa\\Bundle\\CompatibilityLayer\\Command\\SymfonyConfigDebugCommand\:\:\$defaultName overrides @final property Symfony\\Bundle\\FrameworkBundle\\Command\\ConfigDebugCommand\:\:\$defaultName\.$#'
			identifier: property.parentPropertyFinalByPhpDoc
			count: 1
			path: src/bundle/Command/SymfonyConfigDebugCommand.php

		-
			message: '#^Class Ibexa\\Bundle\\CompatibilityLayer\\Command\\SymfonyConfigDumpReferenceCommand extends @final class Symfony\\Bundle\\FrameworkBundle\\Command\\ConfigDumpReferenceCommand\.$#'
			identifier: class.extendsFinalByPhpDoc
			count: 1
			path: src/bundle/Command/SymfonyConfigDumpReferenceCommand.php

		-
			message: '#^Property Ibexa\\Bundle\\CompatibilityLayer\\Command\\SymfonyConfigDumpReferenceCommand\:\:\$defaultName overrides @final property Symfony\\Bundle\\FrameworkBundle\\Command\\ConfigDumpReferenceCommand\:\:\$defaultName\.$#'
			identifier: property.parentPropertyFinalByPhpDoc
			count: 1
			path: src/bundle/Command/SymfonyConfigDumpReferenceCommand.php

		-
			message: '#^PHPDoc tag @var for variable \$debugKernel contains unknown class Ibexa\\CompatibilityLayer\\PHPStan\\DebugContainerKernelInterface\.$#'
			identifier: class.notFound
			count: 2
			path: src/bundle/Command/BuildDebugContainerTrait.php

		-
			message: '#^Call to method isDebug\(\) on an unknown class Ibexa\\CompatibilityLayer\\PHPStan\\DebugContainerKernelInterface\.$#'
			identifier: class.notFound
			count: 2
			path: src/bundle/Command/BuildDebugContainerTrait.php

		-
			message: '#^Call to method initializeBundles\(\) on an unknown class Ibexa\\CompatibilityLayer\\PHPStan\\DebugContainerKernelInterface\.$#'
			identifier: class.notFound
			count: 2
			path: src/bundle/Command/BuildDebugContainerTrait.php

		-
			message: '#^Call to method buildContainer\(\) on an unknown class Ibexa\\CompatibilityLayer\\PHPStan\\DebugContainerKernelInterface\.$#'
			identifier: class.notFound
			count: 2
			path: src/bundle/Command/BuildDebugContainerTrait.php
